body {
  background-color: $base-background-color;
  color: $base-font-color;
}

.the-hard-sell {
  font-weight: 100;
  text-align: center;
  font-style: italic;

  h1 {
    font-size: 3em;
    margin: 0;
  }

  h2 {
    font-size: 2em;
  }
}

.normal-font {
  h1 {
    font-size: 3em;
  }
}

header {
  display: flex;
  position: relative;
  background-color: $alternate-background-color;
  padding: $small-spacing $small-spacing 0;
  min-height: 64px;

  .logo {
    flex: 0 0 25%;
    width: 48px;
    height: 48px;
    margin: 0;
    display: inline-block;
  }

  nav {
    font-family: $call-to-action-font;
    flex: 1 0 75%;
    display: inline-block;
    position: relative;

    ul {
      margin-top: 10px;
    }

    li {
      padding: 0 1em;
      display: inline;
      font-weight: bold;
    }
  }
}

.pitch {
  @include fill-parent();
  @extend .the-hard-sell;

  .top {
    padding: $large-spacing 0 0;
    background-color: $alternate-background-color;
  }

  .image-display {
    margin-top: 1em;
  }

  .connected-devices {
    background-color: $base-background-color;
    margin-top: -3em;
    padding-bottom: $large-spacing;

    .joystick {
      margin-left: -50px;
    }
  }
}

.product {
  @extend .the-hard-sell;
  @include fill-parent();
  background-color: $alternate-background-color;
  padding: $large-spacing 0;

  li {
    @include span-columns(6);
    @include omega(2n);
  }
}

.get-started {
  clear: both;
  @extend .normal-font;
  @include fill-parent();
}