body {
  background-color: $base-background-color;
  color: $base-font-color;
}

.the-hard-sell {
  font-weight: 100;
  text-align: center;
  font-style: italic;

  h1 {
    font-size: 3em;
    margin: 0;
  }

  h2 {
    font-size: 2em;
  }
}

.normal-font {
  h1 {
    font-size: 3em;
  }
}