.pitch {
  @include fill-parent();
  @extend .the-hard-sell;

  .top {
    padding: $huge-spacing 0 0;
    background-color: $alternate-background-color;
  }

  .image-display {
    margin-top: $large-spacing;
  }

  .connected-devices {
    background-color: $base-background-color;
    margin-top: -3em;
    padding-bottom: $huge-spacing;

    .joystick {
      margin-left: -50px;
    }
  }
}

.sign-up {
  @include fill-parent();
  @extend .the-hard-sell;

  margin-left: 0 auto;
  padding: $huge-spacing $huge-spacing;
  background-color: $alternate-background-color;

  .mc-field-group {
    margin-top: $base-spacing;
  }

  .response {
    font-size: 0.5em;
    padding: $base-spacing $huge-spacing $large-spacing;
  }

  input#mc-embedded-subscribe {
    font-size: 2em;
  }
}

.product {
  @extend .the-hard-sell;
  @include fill-parent();
  background-color: $alternate-background-color;
  padding: $huge-spacing 0;

  h1 {
    font-size: 5em;
  }

  a {
    font-size: 4em;
  }

  li {
    @include span-columns(6);
    @include omega(2n);
  }
}