// Typography
$base-font-family: 'Garamond Pro';
$heading-font-family: $base-font-family;
$call-to-action-font: 'Fira Sans', sans-serif;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$large-spacing: $base-spacing * 2;
$huge-spacing: $base-spacing * 4;
$base-z-index: 0;

// Colors
$white: white;
$black: #1b1b1b;
$orange: #F9A858;
$blue: #225378;

// Font Colors
$base-background-color: $white;
$alternate-background-color: $orange;
$tertiary-background-color: $blue;
$base-font-color: $black;
$base-header-colour: $blue;
$base-header-font-color: $white;
$action-color: $blue;

// Border
$base-border-color: $black;
$base-border: 1px solid $black;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
