---
---
%section.sign-up
  %link{href:"//cdn-images.mailchimp.com/embedcode/classic-081711.css", rel: "stylesheet", type: "text/css"}
  %style{type:"text/css"}
    #mc_embed_signup{background: "#fff; clear:left; font:14px Helvetica,Arial,sans-serif;"}
  #mc_embed_signup
    %form#mc-embedded-subscribe-form.validate{action:"//distributedlife.us3.list-manage.com/subscribe/post?u=9afc3d78c6d9af77b623a6c80&amp;id=da669c4050", method:"post", name:"mc-embedded-subscribe-form", target:"_blank", novalidate: 'novalidate'}
      #mc_embed_signup_scroll
        %h1
          Email me when big things come:
          .mc-field-group
            %input#mce-EMAIL.required.email{type:"email", value:"", name:"EMAIL", placeholder: "Email Address"}
          #mce-responses.clear
            %div#mce-error-response.response{style:"display:none"}
            %div#mce-success-response.response{style:"display:none"}
        %div{style:"position: absolute; left: -5000px;"}
          %input{type:"text", name:"b_9afc3d78c6d9af77b623a6c80_da669c4050", tabindex:"-1", value:""}
        %div.clear
          %input#mc-embedded-subscribe.button{type:"submit", value:"Subscribe", name:"subscribe"}
  %script{type:'text/javascript', src:'//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'}
  :javascript
    (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);