---
---
%section.pitch
  .top
    %h1 Your game. Any browser. Any device
    %h1 One framework.
    .display
      .icon-display.image-display
  .connected-devices
    %svg{xmlns:"http://www.w3.org/2000/svg", xmlns: { xlink:"http://www.w3.org/1999/xlink"}}
      %path.line{d: "M100,37 L100,100 L50,100 L50,210", style: "stroke:#660000;"}
      %path.line{d: "M125,37 L125,100 L175,100 L175,150", style: "stroke:#660000;  stroke-dasharray: 10 5"}
    = image_tag('joystick.png', :class => 'joystick')
    = image_tag('iphone.png', :class => 'iphone')
%section.product
  %h2 The framework for multi-modal gaming.
  = link_to 'Get Ensemble', base_url('get-ensemble.html'), :class => 'button'