---
---
%section.pitch
  .top
    %h1 Your game. Any browser. Any device
    %h1 One framework.
    = image_tag('laptop.png', :class => 'image-display')
  .connected-devices
    = image_tag('joystick-connected.png', :class => 'joystick')
    = image_tag('iphone-connected.png', :class => 'iphone')
%section.product
  %h2 The framework for multi-modal gaming.
  = link_to 'Get Ensemble', base_url('get-ensemble'), :class => 'button'