%header
  = link_to base_url("/") do
    .logo
      = image_tag('logo.png')
  %nav
    %ul
      %li= link_to "Docs", "/website/docs/guides/about"
  .call-to-action
    = link_to 'Get Ensemble', "/website/get-ensemble", :class => 'button'